#jeu {
    width: 950px;
    height: 600px;
    border: solid black 2px;
   overflow: hidden;
    position: relative;
    margin: auto;
}
.coin {
    
}
.fond{
    width: 2850px;
    height: 672px;
    z-index: 10;
   position: absolute;
    display: inline-block;
}
.masque {
   top: 400px;
   left: 0px;
    height: 64px;
    width: 64px;
   overflow: hidden;
   position: absolute;
   z-index: 15;
}

.sprite {
    left: 0px;
    top: 0px;
   position: absolute;
   z-index: 15;
}