#jeu {
    width: 950px;
    height: 672px;
    border: solid black 2px;
   /* overflow: hidden;*/
    position: relative;
}
.fond{
    width: 950px;
    height: 672px;
    z-index: 10;
   position: relative;
    display: inline;
}